<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Caégories
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_categorie_index')}}">Liste des catégories</a></p>
            <p><a href="">Ajouter une catégories</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Programmes
        </div>
        <div class="card-body">
            <p><a href="">Liste des programme</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Coachs
        </div>
        <div class="card-body">
            <p><a href="">Liste des Coachs</a></p>
            <p><a href="">Liste des Diplomes non verifiés</a></p>

        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Membres
        </div>
        <div class="card-body">
            <p><a href="">Liste des Membres</a></p>
        </div>
    </article>
</aside>