{% block footer %}
<footer>
    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h2 class="ft-title">Liens internes</h2>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('show_programmes')}}">Programmes</a></li>
                <li><a href="{{ path('show_coachs') }}">Coachs</a></li>
                {# <li><a href="#"></a></li> #}
                
            </ul>
        </div>
        {# <div class="ft-main-item">
            <h2 class="ft-title">Resources</h2>
            <ul>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">eBooks</a></li>
                <li><a href="#">Webinars</a></li>
            </ul>
        </div> #}
        <div class="ft-main-item">
            <h2 class="ft-title">Contact</h2>
            <ul>
                <li><a href="mailto:test@test.com">Page de contact</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Restez informé</h2>
            <p>Soyez informé des mises à jour</p>
            <form>
                <input type="email" name="email" placeholder="Enter email address">
                <input type="submit" value="S'inscrire">
            </form>
        </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            {# <li><a href="#">Terms &amp; Conditions</a></li> #}
            <li><a href="#">Politique de confidentialité</a></li>
            <li><p class="vc_link">Conditions générales de vente</p></li>
            <li>&copy; 2021 by Meow Media, LLC</li>
        </ul>
    </section>
</footer>
<article id="conditions_confidentialite">
    {% include "_partials/politiques/confidentialite.html.twig" %}
</article>
<article id="conditions_vente">
    {% include "_partials/politiques/conditions_vente.html.twig" %}
</article>
{% endblock footer %}