{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <img src="" alt=""> #}
<main class="container">
    <div class="banniere">

        <div class="image">
            <img src="{{asset('assets/images/banniereimg.jpg')}}" alt="image">
        </div>
        <div class="contenu">
            <h2>Vous cherchez à atteindre vos objectifs sportifs et à vous sentir en meilleure forme ?
                Trouvez votre coach sportif personnel, prêt à vous accompagner dans votre quête de la performance et du
                bien-être
            </h2>
            {# <h3>Plus de 250 Entraineurs </h3>
            <h3>Plus de 390 Programmes </h3> #}
            <a href=""><i class="fa-solid fa-chevron-down"></i></i></a>
        </div>

    </div>
    <section id="categories">
        <h2>Nous vous proposons plusieurs <span>Categories</span> d'activités</h2>

        <div id="categories_container">
            {% for categorie in categories %}
            <a href="">
                <div class="categorie_cart">{{ categorie.intitule}}</div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}