{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <img src="" alt=""> #}
<main class="container">
    <section class="banniere">

        <div class="image">
            <img src="{{asset('assets/images/banniere/banniereimg.jpg')}}" alt="image">
        </div>
        <div class="contenu">
            <h2>Vous cherchez à atteindre vos objectifs sportifs et à vous sentir en meilleure <strong>forme</strong> ?
                Trouvez votre <strong>coach sportif personnel</strong> , prêt à vous accompagner dans votre quête de la
                performance et du
                <strong>bien-être</strong>
            </h2>
            {# <h3>Plus de 250 Entraineurs </h3>
            <h3>Plus de 390 Programmes </h3> #}
            {# <a href=""><i class="fa-solid fa-chevron-down"></i></i></a> #}
        </div>

    </section>
    <section id="categories">
        <h3>Nous proposons une large gamme de catégories d'activités pour répondre à tous les goûts et niveaux</h3>

        <div id="categories_container">
            {% for categorie in categories %}
            <a href="{{ path('categorie_programmes', { 'id': categorie.id }) }}">
                <div class="categorie_cart">
                    <h3>{{ categorie.intitule|upper}}</h3>
                    <div class="categorie_image">
                        <img src="{{ asset('assets/images/categories/'~ categorie.image ~'') }}" alt="image">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}