<h1>Hi! Confirmation de votre adresse Email ! 🙂</h1>

<p>
    Vous devez confirmer votre compte en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
