{% extends 'base.html.twig' %}
{% block title %}Liste des catégories{% endblock %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock stylesheets %}
{% block body %}
<div class="admin_container">
    <div class="row">
        {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border-light bg-white p-2">
            <h1>liste des catégorie</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Intitulé</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                    <tr>
                        <th scope="row">{{categorie.id}}</th>
                        <td>{{categorie.intitule}}</td>
                        <td>{{categorie.image}}</td>
                        <td><a href="">Editer</a></td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}