@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Sofia+Sans:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    
}

/* en commun */
.prix {
    color: #ECD71A;
    font-weight: bold;
}

strong {
    color: #5c0808;
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 1.5rem;
}

h3 {
    color: #5c0808;
}

h5 {
    color: #D9D9D9;
}

h2 span {
    font-weight: bold;
    color: #5c0808;
}

.btn_achat {
    width: 70%;
    height: 35px;
    background-color: #467326;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.btn_auth {
    height: 30px;
    background-color: #467326;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}



/* nav abr */
nav {
    /* background-color: #467326; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 0;
    z-index: 900;
}
nav.nav-active{
    transition: 0.5s;
    background-color: #011826;
}

#left {}

.logo_container {
    /* background-color: #467326; */
    width: 90px;
    height: 30px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* middle nav */
#middle {
    display: flex;
    justify-content: center;
    /* position: relative; */
    width: 30%;
}

#user_links {
    position: absolute;
    width: 25%;
    z-index: 201;
    background-color: #D9D9D9;
    top: -100%;
    list-style: none;
    display: none;
}

#user_links li a {

    text-decoration: none;
    color: #011826;
    width: 15px;
}

#user_links.open {
    transition: 0.8s;
    display: flex;
    top: 2.5rem;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

#menu_user {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 0.2rem;
    /* height: 90%; */
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

#menu_user:hover {
    background-color: #d9d9d9b2;
}

#menu_user img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.fa-caret-down {
    color: white;
}

#right {
    padding: 0.2rem;
}

#right ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

#right ul li a {

    text-decoration: none;
    color: white;
    width: 20px;
    font-weight: bold;
}


/* footer */
footer {
    /* margin-top: 1.5rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    background-color: #011826;
    position: absolute;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
    bottom: 0;
}

/* page de connexion et inscription */
.authentification_form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #467326; */
    padding: 1.5rem;
    gap: 1rem;
}

.authentification_form h1 {
    margin-bottom: 2rem;
}

.inputChoice_container {
    background-color: #B1ACAC;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
}

.input_container input {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding: 0.5rem;
    /* background-color: #467326; */
}

/* home page */
.container_home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* background-color: #06080D; */
}
.container {
    padding-top: 2.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* banniere */
.banniere {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banniere video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenu {

    position: absolute;
    bottom: 2rem;
    z-index: 4;
    color: white;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}


.image {

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(40%);
}

/* section statics */
#statics_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    gap: 5rem;
    background-color: white;
    padding: 1rem;
}
#statics_section article h2{
}


/* section about */
#about_section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    /* background-color: #467326; */
    width: 100%;
    min-height: 100vh;
    position: relative;
}
#about_section figure{
    width: 21rem;
    height: 25rem;
}
.about_text{
    background-color: #011826;
    width: 350px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_text h2{
    color: #5E308C;
}
.about_text p{
    color: #D9D9D9;
    font-size: small;
}
.about_text p strong{
    color: #D9D9D9;
    font-size: small;
}
#about_section figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* section comment ça marche */
#commentcamarche_section{
    background-color: #011826;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
}
#commentcamarche_section h2{
    background-color: #9b8f8f;
    color: #5c0808;
}
#commentcamarche_section div{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
#commentcamarche_section div article{
    width: 25rem;
    padding: 1.5rem;
    background-color: #9b8f8f;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#commentcamarche_section div article p{
    font-size: x-small;
    color: #011826;
}
#commentcamarche_section div article a{
    background-color: #011826;
    color: #B1ACAC;
    width: 5rem;
}
/* section categories */
#categories {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 1.5rem;
}

#categories_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.categorie_cart {
    position: relative;
    width: 350px;
    height: 260px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.categorie_cart h3 {
    z-index: 5;
    color: white;
    font-weight: bold;
}

.categorie_image {
    position: absolute;
    width: 100%;
    height: 100%;

}

.categorie_image img {
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
}

.categorie_cart:hover img {
    filter: grayscale(0);
}

/* page categorie programmes */
.programmes_container {
    width: 90%;
    /* min-height: 70vh; */
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.programme_cart {
    width: 15rem;
    height: 22rem;
    background-color: #011826;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 0.5rem;
}

.programme_image {
    width: 100%;
    height: 40%;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.programme_image span {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    color: white;
    font-size: xx-small;
    background-color: #467326a8;
    padding: 0.5rem;
}

.programme_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programme_contenu {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    position: absolute;
    top: 49%;
    /* background-color: #467326; */
}

.programme_contenu p {
    color: #9b8f8f;
    font-size: xx-small;
}

/* page show Coachs */
#coachs_container {
    width: 95%;
    background-color: #B1ACAC;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.coach_container {
    /* background-color: #467326; */
    padding: 0.5rem;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 50%;
}

.coach_container figcaption {
    text-decoration: none;
    color: #011826;
    font-weight: bold;
}

.coach_container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* user profile */
.container_user {
    padding-top: 2.5rem;
    min-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 1.5rem; */
    /* background-color: #467326; */
}

#user_details_container {
    width: 25%;
    min-height: 100%;
    background-color: #D9D9D9;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}

#user_details_container .coach_container {
    margin-top: 3rem;
    border-radius: 0;
    background-color: #011826;
    padding: 0.2rem;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#user_details_container .coach_container img {
    width: 95%;
    height: 95%;
}

#user_programmes {
    min-height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn_panel {
    padding: 0.3rem;
    width: 30%;
    height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #011826ea;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
}

.btn_panel a {
    text-decoration: none;
    color: white;
    font-size: x-small;
}

#user_statics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#user_statics p {
    font-size: x-small;
    font-weight: bold;
}

#user_bio {
    background-color: #011826;
    width: 90%;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#user_bio p {
    color: #B1ACAC;
    font-size: x-small;
}

#user_bio h4 {
    color: white;
}

/* pour la page programme modules */
.container_modules {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 3rem;
    
    width: 100%;
}

#main_video {
    width: 50%;
    height: 80vh;
}

#main_video iframe {
    width: 100%;
    height: 80vh;
}

#modules_list {
    width: 50%;
    height: 80vh;
    background-color: #D9D9D9;
    overflow-y: scroll;
    padding: 1rem;
}

#module_container {
    background-color: transparent;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#module_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* background-color: #011826; */
    height: 100%;
}

#module_info p {
    font-size: x-small;
}

/* formulaire edit programme */
.programme_img_container {
    width: 250px;
    height: 200px;
}

.programme_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* page all programmes */
#programmes_categ {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    height: 50vh;
    padding: 1rem;
}

.programmes_container {
    display: flex;
    flex-direction: row;
    height: 95%;
    padding: 0.5rem;
}

#programmes_categ .programmes_container .programme_cart {
    height: 100%;
    width: 12rem;
    gap: 0;
}

#programmes_categ .programme_cart .programme_contenu {
    height: auto;
}

#programmes_categ .programme_cart .programme_contenu h5 {
    font-size: x-small;
}