{% extends 'base.html.twig' %}
{% block body %}
<main class="container">
    <h3>Cours</h3>
    <div id="inputes_container">
        {{form_start (formModule)}}
        
        {{form_end (formModule)}}
    </div>
</main>
{% endblock body %}