<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{{ asset('assets/images/logo/_4a7f0e6e-b363-4bf4-b07d-9599f87e133d.png') }}" id="favicon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# css #}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    {# hamburger menu #}
    <link rel="stylesheet" href="{{asset('assets/css/hamburger.css')}}">
    {# fontawesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    {% include "_partials/_nav.html.twig" %}
    {% block body %}{% endblock %}
    {% include "_partials/_footer.html.twig" %}
    <article id="conditions_confidentialite" class="conditions">
        {% include "_partials/politiques/confidentialite.html.twig" %}
    </article>
    <article id="conditions_vente" class="conditions">
        {% include "_partials/politiques/conditions_vente.html.twig" %}
    </article>
    <article id="CGU" class="conditions">
        {% include "_partials/politiques/cgu.html.twig" %}
    </article>
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{asset('assets/js/script.js')}}"></script>
    {% endblock %}
    
</body>

</html>