<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# css #}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav>
        <div id="left">
            {# logo #}
        </div>
        <div id="right">
            <ul>
                <li><a href="">Accueil</a> </li>
                <li><a href="">Compte</a> </li>
                <li><a href="">Coachs</a> </li>
                <li><a href="">Programmes</a> </li>
                <li><a href="">Connexion</a> </li>
                <li><a href="">Déconnexion</a> </li>
            </ul>
        </div>

    </nav>
    {% endblock nav %}
    {% block body %}{% endblock %}
</body>

</html>