{% block body %}
  <main>
    <div>
        <h1>Conditions Générales d'Utilisation (CGU)</h1>
    
        <h2>1. Acceptation des CGU</h2>
        <p>En utilisant [Nom de votre site], vous reconnaissez avoir lu, compris et accepté sans réserve les présentes CGU. Si vous êtes en désaccord avec une partie de ces CGU, veuillez ne pas utiliser notre site.</p>
        
        <h2>2. Description du service</h2>
        <p>[Nom de votre site] est une plateforme en ligne dédiée aux coachs sportifs et à leurs clients. Elle permet aux coachs de différents spécialités de mettre en ligne leurs programmes d'entraînement et de permettre à leurs clients de les acheter. Les clients peuvent également commenter les programmes et partager leurs expériences.</p>
        
        <h2>3. Utilisation du site</h2>
        <h3>3.1. Compte utilisateur</h3>
        <p>Pour accéder à certaines fonctionnalités de [Nom de votre site], vous devrez créer un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos identifiants de connexion et de toutes les activités effectuées sous votre compte. Vous vous engagez à fournir des informations précises, complètes et à jour lors de la création de votre compte.</p>
        
        <h3>3.2. Utilisation autorisée</h3>
        <p>En utilisant [Nom de votre site], vous vous engagez à ne pas :</p>
        <ul>
            <li>Utiliser le site à des fins illégales ou non autorisées.</li>
            <li>Porter atteinte à la vie privée, à la réputation ou aux droits de propriété intellectuelle d'autrui.</li>
            <li>Publier du contenu diffamatoire, injurieux, obscène, offensant, discriminatoire ou contraire à l'éthique.</li>
            <li>Collecter des informations personnelles d'autres utilisateurs sans leur consentement.</li>
            <li>Transmettre des virus, des logiciels malveillants ou toute autre forme de code nuisible.</li>
        </ul>
        
        <h2>4. Propriété intellectuelle</h2>
        <h3>4.1. Contenu du site</h3>
        <p>[Nom de votre site] détient tous les droits de propriété intellectuelle relatifs au contenu présent sur la plateforme, y compris les programmes d'entraînement mis en ligne par les coachs sportifs. Vous vous engagez à ne pas copier, reproduire, distribuer ou utiliser ce contenu sans autorisation préalable.</p>
        
        <h3>4.2. Commentaires des clients</h3>
        <p>Les commentaires et les avis laissés par les clients sur [Nom de votre site] sont la propriété de leurs auteurs respectifs. En publiant un commentaire, vous accordez à [Nom de votre site] une licence non exclusive, gratuite et mondiale pour utiliser, afficher, reproduire et modifier
      
            <h2>5. Responsabilités et limitations</h2>
            <p>[Nom de votre site] s'efforce de fournir un service fiable et de qualité, mais nous ne pouvons pas garantir l'exactitude, la disponibilité ou la sécurité complète de la plateforme. Nous déclinons toute responsabilité en cas d'interruption de service, de perte de données ou de tout dommage résultant de l'utilisation de [Nom de votre site].</p>
            
            <h2>6. Modification des CGU</h2>
            <p>[Nom de votre site] se réserve le droit de modifier les présentes CGU à tout moment. Les modifications entreront en vigueur dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les CGU pour prendre connaissance des éventuelles mises à jour. Si vous continuez à utiliser [Nom de votre site] après la modification des CGU, cela signifie que vous acceptez les nouvelles conditions.</p>
            
            <h2>7. Confidentialité des données</h2>
            <p>[Nom de votre site] s'engage à respecter la confidentialité de vos données personnelles conformément à notre Politique de Confidentialité. Nous collectons et utilisons vos informations dans le respect des lois en vigueur. Nous mettons en place des mesures de sécurité appropriées pour protéger vos données, mais nous ne pouvons garantir une sécurité absolue. En utilisant [Nom de votre site], vous acceptez notre Politique de Confidentialité.</p>
            
            <h2>8. Résiliation</h2>
            <p>[Nom de votre site] se réserve le droit de résilier ou de suspendre votre accès à la plateforme à tout moment, sans préavis ni responsabilité, en cas de violation des présentes CGU ou de comportement jugé inapproprié. En cas de résiliation, vous devez cesser toute utilisation de [Nom de votre site] et supprimer toute information ou contenu lié à votre compte.</p>
            
            <h2>9. Dispositions générales</h2>
            <h3>9.1. Intégralité de l'accord</h3>
            <p>Les présentes CGU constituent l'intégralité de l'accord entre vous et [Nom de votre site] concernant l'utilisation de la plateforme, et elles prévalent sur tout accord antérieur ou concurrent.</p>
            
            <h3>9.2. Loi applicable et juridiction</h3>
            <p>Les présentes CGU sont régies par les lois en vigueur dans [indiquer le pays ou la région]. Tout litige découlant de l'utilisation de [Nom de votre site] sera soumis à la compétence exclusive des tribunaux de [indiquer la ville ou la région].</p>
            
            <h3>9.3. Divisibilité</h3>
            <p>Si l'une des clauses des présentes CGU est jugée invalide, illégale ou inapplicable, cela n'affectera pas la validité ou l'applicabilité des autres clauses.</p>
            
            <p>Si vous avez des questions ou des préoccupations concernant les présentes CGU, veuillez nous contacter à <a href="mailto:contact@justraine.fr">contact@votresite.com</a>.</p>
        <br><br><button id="close_cc_popup" class="vc_close">Fermer</button>
    </div>
    
</main>
{% endblock %}