{% block body %}
  <main>
    <div>
      <h1>Conditions générales de vente</h1>
    
      <h2>1. Objet</h2>
      <p>Les présentes conditions générales de vente régissent la vente de prestations de services en ligne à des consommateurs particuliers sur notre plateforme.</p>

      <h2>2. Informations sur le vendeur</h2>
      <p>Les prestations de services sont fournies par les coachs sportifs individuels via notre plateforme. La plateforme agit en tant qu'intermédiaire facilitant la vente des programmes et collectant une commission sur chaque vente.</p>
      <p>La plateforme n'intervient pas dans le contenu des programmes proposés par les coachs sportifs et n'est pas responsable de la qualité des prestations fournies par les coachs. Tout litige ou réclamation doit être adressé directement au coach concerné.</p>


      <h2>3. Commande</h2>
      <p>Le client peut passer commande des prestations de services en ligne directement sur notre plateforme. La commande est considérée comme définitive après validation du paiement.</p>

      <h2>4. Prix et paiement</h2>
      <p>Les prix des prestations de services sont indiqués sur notre plateforme. Le paiement s'effectue en ligne, selon les modalités de paiement proposées.</p>

      <h2>5. Droit de rétractation</h2>
      <p>Conformément à la législation en vigueur, le client dispose d'un délai de rétractation de 14 jours à compter de la date de validation de la commande. Le client peut exercer son droit de rétractation en nous contactant par email ou en utilisant le formulaire de rétractation disponible sur notre plateforme.</p>

      <h2>6. Protection des données personnelles</h2>
      <p>Nous collectons et traitons les données personnelles du client conformément à notre politique de confidentialité. Les données collectées sont utilisées uniquement dans le cadre de la prestation de services et ne seront pas partagées avec des tiers sans consentement.</p>

      <h2>7. Responsabilité</h2>
      <p>Nous mettons tout en œuvre pour assurer la qualité des prestations de services. Cependant, nous ne pouvons être tenus responsables des éventuels dommages directs ou indirects causés par l'utilisation de nos services, sauf en cas de faute lourde de notre part.</p>

      <p>En passant commande sur notre plateforme, vous acceptez les présentes conditions générales de vente. Veuillez les lire attentivement avant de procéder à la commande.</p>
      <br><br><button id="close_cc_popup" class="vc_close">Fermer</button>
    </div>
    
</main>
{% endblock %}
