{% extends 'base.html.twig' %}
{% block body %}
<main class="container">
    <h3>Edite profile</h3>
    <div id="inputes_container">
        {{form_start (formUser)}}
        
        {{form_end (formUser)}}
    </div>
</main>
{% endblock body %}